* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: #fff;
    color: #fff;
    background: url(wallpaperflare.com_wallpaper\ \(5\).jpg) center center no-repeat;
    background-size: cover;
}
.slide{
    height: 97%;
    width: 220px;
    position: absolute;
    background-color: #fff;
    transition: 0.5s ease;
    transform: translateX(-1000px);
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 30px;
}

h1{
    color: white;
    
    font-weight: 800;
    text-align: center;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
}