* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #fff;
    color: #fff;
    background: url(wallpaperflare.com_wallpaper\ \(5\).jpg) center center no-repeat;
    background-size: cover;
}

/* Navigation Bar */
.slide{
    height: 97%;
    width: 220px;
    position: absolute;
    background-color: #fff;
    transition: 0.5s ease;
    transform: translateX(-1000px);
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 30px;
}

h1{
    color: white;
    
    font-weight: 800;
    text-align: center;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
}
ul li{
    list-style: none;
}

ul li a{
    color: white;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.5s ease-out;
}

ul li a i{
    width: 40px;
    text-align: center;   
    padding: 10px;
}

ul li:hover a{
    color: black;
    background-color: white;
    border-radius: 30px;
    margin: 10px;
}

input{
    display: none;
    visibility: hidden;
    
}

.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 25px;
    left: 25px;
    z-index: 1;
    cursor: pointer;
    border-radius: 10px;
    background-color: #fff;
    background: transparent;
    color: #fff;
}

.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #fff;   
    border-radius: 50px;
    transition: 0.1s ease;
    color: #fff;
}

.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%,50%);
    color: #fff;
}

.toggle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    color: #fff;
}

.top_line common{
    color: #fff;
}

.middle_line common{
    color: #fff;
}

.bottom_line common{
    color: #fff;
}

.toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%,50%);
    color: #fff;
}

input:checked ~ .toggle .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
    color: #fff;
}
input:checked ~ .toggle .middle_line{
    opacity: 0;
    transform: translateX(20px);
    color: #fff;
}
input:checked ~ .toggle .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
    color: #fff;
}

input:checked ~ .slide{
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(240, 237, 237, 0.5);
    background: transparent;
    color: #fff;

}

/*nav bar*/
/* Student Information */
.all_section {
    padding: 20px;
    color: #fff;
}

.student_img {
    border-radius: 50%;
    object-fit: cover;
    width: 100px; /* Set the width as per your preference */
    height: 100px; /* Set the height as per your preference */
    float: left;
    margin-right: 50px; /* Add some space between image and text */
}

.student_name{
    padding: 50px;
    color: #fff;
}
.mb-01{
    margin-top: -50px;
    color: #fff;
}
.mb-02{
    padding: 10px;
    color: #fff;
}
.mb-03{
    color: #fff;
}


.qwerty {
    background-color: #4EA685;
    background: transparent;
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    color: white;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 20px;
}

.student_img {
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border: 5px solid #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.row1 {
    margin-bottom: 20px;
    color: #fff;
}


.table1 {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    color: #fff;
}


.table1 th, .table1 td {
    padding: 15px;
    text-align: left;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.other_info{
    padding-top: 30px;
    padding-left: 15px;
    color: #fff;
}